<button
  mat-mini-fab
  color="success"
  [matMenuTriggerFor]="beforeMenu"
>
  <img
    [alt]="user.displayName"
    [src]="user.photoURL"
    class="avatar" />
</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <div class="profile-card">
    <img
      [alt]="user.displayName"
      [src]="user.photoURL"
      class="big-avatar" />
<!--    show name-->
    <h4>{{ user.displayName }}</h4>
<!--    show email-->
    <p>{{ user.email }}</p>
    <mat-divider></mat-divider>
<!--    show button sign out-->
    <button mat-stroked-button (click)="logout()">
      Sign Out
    </button>
    <mat-divider></mat-divider>
    <p class="profile-footer">
      📘 Follow us <a href="https://twitter.com/JustinTrudeau?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">@OpenBook</a>
    </p>
  </div>
</mat-menu>
<!--windowKey+ "."  for emote-->
