<form *ngIf="user" [formGroup]="pictureForm" class="post-form">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <img [src]="user.photoURL" class="avatar" />
        </div>
        <mat-card-title>Post your request</mat-card-title>
        <mat-card-subtitle>{{ user.displayName }}</mat-card-subtitle>
      </mat-card-header>
      <img
        *ngIf="jobImagePreview"
        [src]="jobImagePreview"
        alt="Job Picture"
        class="preview-image"
      />
      <mat-progress-bar *ngIf="submitted" [value]="uploadProgress$ | async" mode="determinate">
      </mat-progress-bar>
      <mat-card-content>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Photo</mat-label>
          <ngx-mat-file-input formControlName="photo" placeholder="Basic outline placeholder">
          </ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="pictureForm.controls['photo'].hasError('required')">
            Please select 
          </mat-error>
          <mat-error *ngIf="pictureForm.controls['photo'].hasError('image')">
            That doesn't look like a LF job Image to me
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Describe your Job</mat-label>
          <textarea
            formControlName="description"
            matInput
            placeholder="Describe your type of musician to us 🎻"
          >
          </textarea>
          <mat-error *ngIf="pictureForm.controls['description'].hasError('required')">
            You <strong>SHOULD</strong> describe your musician 😿
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          (click)="postJob()"
          [disabled]="pictureForm.invalid || submitted"
          color="primary"
          mat-raised-button
        >
          Post your request
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  