<mat-card class="feed-item-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img class="avatar" [src]="userPost.userAvatar" />
      </div>
      <mat-card-title>{{ userPost.userName }}</mat-card-title>
      <mat-card-subtitle>{{ userPost.lastUpdated | date }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      class="preview-image"
      [src]="userPost.photoUrl"
      alt="Photo of description 🖼"
    />
    <mat-card-content>
      <p>
        {{ userPost.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="handlePurr()">{{ userPost.purrs }} 😻</button>
    </mat-card-actions>
  </mat-card>
  